html {
  --bg: #ffffff;
  --books-bg: #ffffff;
  --button-color: #a03d3d;
  --border-color: #a03d3d;
  --shadow: #7e2f2f;
  --status-color: #ffffff;
}

button:hover {
  border-style: inset;
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.btn {
  color: #ffffff;
  background-color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
}

.submitBtn {
  width: 80px;
  color: #ffffff;
  background-color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  padding: 10px;
}

.statusBtn {
  background-color: var(--status-color);
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

.deleteBtn {
  background-color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
}

.form {
  margin: 20px auto;
  border: 1px solid var(--border-color);
}

.radio-field {
  border: 1px solid #cccccc;
}

legend {
  font-weight: bold;
}

.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-wrap {
  display: flex;
  flex-direction: column;
}

label[for='title'],
label[for='author'],
label[for='pages'] {
  font-weight: bold;
}

input[id='title'],
input[id='author'] {
  width: 300px;
}

input[id='pages'] {
  width: 100px;
}

form>div {
  margin: 5px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

h1 {
  width: 300px;
  padding: 5px;
  border: 1px solid var(--border-color);
  box-shadow: 8px 8px var(--shadow);
}

#content {
  background-color: var(--bg);
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

#content>div {
  background-color: var(--books-bg);
  border-top: none;
  border-radius: none;
  border: 1px solid var(--border-color);
  box-shadow: 8px 8px var(--shadow);
  padding: 10px;
  display: grid;
}