html {
  --bg: #d1aedd;
  --header-bg: white;
  --books: white;
  --button-color: #d1aedd;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.btn {
  background-color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
}

.submitBtn {
  width: 80px;
  background-color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  padding: 10px;
}

.statusBtn {
  background-color: var(--header-bg);
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

.deleteBtn {
  background-color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
}

.form {
  margin: 20px auto;
  border: 2px solid black;
}

legend {
  font-weight: bold;
}

.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-wrap {
  display: flex;
  flex-direction: column;
}

label[for='title'],
label[for='author'],
label[for='pages'] {
  font-weight: bold;
}

input[id='title'],
input[id='author'] {
  width: 300px;
}

input[id='pages'] {
  width: 100px;
}

form>div {
  margin: 5px;
}

.header {
  padding: 10px;
}

#content {
  background-color: var(--header-bg);
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
  justify-content: center;
  gap: 2px;
}

#content>div {
  background-color: var(--books);
  color: black;
  border-top: 10px solid var(--bg);
  border-radius: 5px;
  padding: 10px;
  display: grid;
}